.wrapper.wrapper_padding.clearfix

  .col-1.about.homepage_content
    %h2 About
    %hr
    %p Lorem ipsum...

  .col-2.homepage_content
    %h2 Stuff I've Written
    %hr

    - @posts.each do |post|
      %h3= link_to post.title, post
      %p.date= post.created_at.strftime("%A, %b %d")

  .col-3.homepage_content
    %h2 Stuff I've Built
    %hr
    %h3= link_to "Unicasts", root_path
    %p.date money sunday
    %h3= link_to "duby text", root_path
    %p.date money sunday 2
    %h3= link_to "dumy text", root_path
    %p.date money sunday 3
