#post_show_content.skinny_wrapper.wrapper_padding
  %header
    %p.date= @post.created_at.strftime('%A, %B %d')
    %h1= @post.title
    %hr

  #content
    = @post.body

  %hr



  = render 'disqus'

= link_to "Edit", edit_admin_post_path(@post)
= link_to "Delete", admin_post_path,
  method: :delete, data: { confirm: "Are you sure?" }
