#post_show_content.skinny_wrapper.wrapper_padding
  %header
    %p.date= @post.created_at.strftime('%A, %B %d')
    %h1= @post.title
    %hr

  #content
    = @post.body

  %hr

  #share_box
    %p Share To do list
    %i.fa.fa-twitter
    %i.fa.fa-facebook

  %hr

  = render 'disqus'

= link_to "Edit", edit_post_path(@post)
